doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    include ./partials/_nav.jade
    block content
    if path === '/'
      h2 This only appears if the path is /

    
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='/static/js/main.js')
