header.main-header
  a(href="/").site-logo
    img(src="/static/images/fitz_dribbble.png")
  ul.nav
    li 
      a(href="/about") About
    li 
      a(href="/blog") Blog
    li 
      a(href="/work") Work
    li 
      a(href="/newsletter") Newsletter
    li 
      a(href="/resume") Résumé
    li 
      a(href="/contact") Contact
